<!DOCTYPE html>
<html>
<head>
    <title>EPUB CFI Generator</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <style>
        textarea {
            width: 100%;
            height: calc(100% - 100px);
            margin: 20px 0;
            overflow: auto;
        }

        .container > .row > div > div {
            height: 100%;
            width: 100%;
        }

        #back {
            float: left;
        }

        #save {
            float: right;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row vertical-align">
        <div class="col-xs-12 col-md-12">
            <div>
                <textarea id="result">{{data}}</textarea>
                <div>
                    <a id="back" class="btn btn-primary" href="/index">Back</a>
                    <a id="save" download="result.json" class="btn btn-primary" href="#">Save to file</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>epub-cfi-generator-demo {{version}}. Demo for <a href="http://www.silkcode.de/#p13">LookUP!</a> project of <a href="http://silkcode.de">SilkCode UG</a>. pmstss 2015</p>
    </div>
</div>

<script>
    var blob = new Blob([document.getElementById('result').innerHTML], {type:'text/plain'});
    document.getElementById('save').setAttribute('href', URL.createObjectURL(blob));

    if (navigator.userAgent.indexOf('IE') !== -1 || navigator.userAgent.indexOf('Trident') !== -1) {
        document.getElementById('save').addEventListener('click', function (e) {
            e.preventDefault();
            window.navigator.msSaveBlob(blob, 'result.json');
        }, false);
    }
</script>
</body>
</html>